body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:832px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:43px;
  width:424px;
  height:832px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:408px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:110px;
  width:375px;
  height:669px;
}
#u2_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:669px;
  overflow:hidden;
}
