#footer{
    border-top:1px solid #cacaca;
    box-shadow: 0 0 10px #cacaca;
}
.content {
    height: 1200px;
}
.divback1 {
    background-color: #fff1db;
}
.divback2 {
    background-color: #dbfff9;
}
.divback3 {
    background-color: #dbe8ff;
}
.divback4 {
    background-color: #ffdbed;
}
.hotlist,.productId,.sort-list-second,.sort-list-first{
    cursor: pointer;
}
.cartItemclick{
    cursor: pointer;
}

/*.hot-product-list img{
    min-width: 76px;
    min-height: 76px;
}*/
/*个人中心*/
.headbar {
    width:100%;
    padding: 10px;
    background-color: #fff;
    position: relative;
}
.headbar h3,.headbar span{
    color: #212121;
    line-height: 20px;
}

.aui-list-item-arrow-white{
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: 50%;
    right: 0.75rem;
    margin-top: -0.2rem;
    background: transparent;
    border: 2px solid #bbb;
    border-top: none;
    border-right: none;
    z-index: 2;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.font-small{
    font-size: 12px;
    font-weight: 200;
}
.iconfont{
    background: url('../imgs/icons.png') no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-size:100px;
}
.icon-phone {
    width: 9px;
    height: 12px;
    background-position: -90px 0;
    margin-top: -3px;
    margin-right: 5px;
}
.icon-index {
    width:24px;
    height: 24px;
    background-position: -66px -22px;
}
.icon-cart {
    width:20px;
    background-position: -46px -22px;
}
.icon-order {
    width:20px;
    background-position: -23px -22px;
}
.icon-my {
    width:20px;
    background-position:-0 -22px;
}
.icon-evaluate{
    width:16px;
    height:16px;
    background-position: 0 -48px;
}
.icon-service{
    width:16px;
    background-position: -16px -48px;
}
.icon-address{
    width:16px;
    background-position: -32px -48px;
}
.icon-life{
    width: 28px;
    height: 28px;
    background-position: 0px -67px;
}
.icon-Shop{
    width: 28px;
    height: 28px;
    background-position: -30px -67px;
}
.icon-all{
    width: 28px;
    height: 28px;
    background-position: -56px -140px;
}
.icon-more{
    width: 20px;
    height: 5px;
    background-position: -68px -57px;
    margin: 0 10px;
}
.active .icon-my{
    background-position: 0 0;
}
.active .icon-index{
    background-position: -66px 0;
}
.active .icon-cart{
    background-position: -46px 0;
}
.active .icon-order{
    background-position: -23px 0;
}

.active .aui-bar-tab-label{
    color: #3ab373;
}
.font-obvious-a{
    color: #fa9c00;
}
.font-obvious-b{
    color: #f35c4c !important;
}
.font-obvious-c{
    color: #57ae80 !important;
}
.font-light-a{
    color: #9e9e9e !important;
}
.boxa{
    width: 18px;
    height: 18px;
    margin: 13px ;
}
/*购物车*/
.margin-contain-t{
    margin-top:60px;
}
.margin-contain-t2{
    margin-top:44px;
}
.margin-contain-t3{
    margin-top:45px;
}
.margin-contain-t4{
    margin-top:89px;
}
.margin-contain-b{
    margin-bottom:50px;
}
.margin-contain-bc{
    margin-bottom:90px;
}
#fixed_header{
    position:fixed;
    z-index:99;
    top:0;
    width:100%;
}
#fixed_header2{
    position:fixed;
    z-index:99;
    top:0;
    width:100%;
}
.fixed_header3{
    position:fixed;
    z-index:99;
    top:0;
    width:100%;
}
.pruduct-name{
    width: 200px;
}
.checkdiv{
    margin-top: 25px;
    margin-left: 15px;
}
.width90Percent{
    width: 90%;
}
.add,.reduce{
    display: inline-block;
    background-color: #fff;
    width: 28px;
    height: 28px;
    border: 1px solid #9e9e9e;
    text-align: center;
    line-height: 22px;
    color: #9e9e9e;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top:0;
    cursor:pointer;
}
.add{
    left: 80px;
}
.reduce{
    left: 0;
}
.sizebox2{
    width: 100px;
    border: 0;
    position: absolute;
    top:60px;
    right: 20px;
    height:24px;
    background-color: #fff;
    z-index: 200;
}
.sizebox2  input[type="number"]{
    width: 60px;
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    display: inline-block;
    position: absolute;
    height: 28px;
    top:0;
    left: 24px;
}
.sizebox{
    width: 100px;
    border: 0;
    position: relative;
    margin-top:10px;
}
.sizebox  input[type="number"]{
    width: 60px;
    border-top: 1px solid #9e9e9e;
    border-bottom: 1px solid #9e9e9e;
    display: inline-block;
    position: absolute;
    height: 28px;
    top:0;
    left: 24px;
}
.imgsize img{
    min-width: 80px;
    min-height: 80px;
}
.pruduct-price{
    line-height: 37px;
}
.text_box{
    text-align: center;
}
#settlement{
    width: 100%;
    height: 40px;
    position:fixed;
    top:auto;
    bottom:50px;
    table-layout:fixed;
    background-color:#fff;
    border-top:1px solid #dddddd;
    z-index: 100;
}
#settlement1{
    width: 100%;
    height: 40px;
    position:fixed;
    top:auto;
    bottom:50px;
    table-layout:fixed;
    background-color:#fff;
    border-top:1px solid #dddddd;
    z-index: 100;
}
#btn-nav{
    width: 100%;
    height: 40px;
    position:fixed;
    top:auto;
    bottom:0px;
    table-layout:fixed;
    background-color:#fff;
    border-top:1px solid #dddddd;
    z-index: 100;
}
#btn-nav .aui-btn{
    margin: 10px 8px;
}
.btn-up{
    display: inline-block;
    height: 39px;
    line-height: 39px;
    width: 100px;
    text-align: center;
    font-size: 14px;
}
.btn-del{
    display: inline-block;
    height: 39px;
    line-height: 39px;
    width: 100px;
    text-align: center;
    font-size: 14px;
}
.checkdiv2{
    margin: 0.3rem 0.75rem;
}
.checkdiv2 input{
    margin-top: 3px;
}
.edit-cart{
    padding:0 30px;
}
.price-all{
    display: inline-block;
    margin-left:80px;
}
.price-all2{
    display: inline-block;
    margin-top:5px;
    margin-left:150px;
}
.aui-ellipsis-2 span{
    display: inline-block;
    width: 100%;
}
.aui-ellipsis-2 img{
    margin-right: 10px;
}
.paddin2{
    padding-left: 24px;
}
.margin4b{
    margin-top: 10px;
    display: inline-block;
}
.productname{
   /* height: 42px;*/
    width: 255px;
}

/*商城*/
.list-name{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*订单*/
.aui-list-item-text{
    line-height: 20px;
}
.aui-media-list{
    position: relative;
}
/*商品详情*/
.top-img-box{
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 99;
    padding: 5px;
}
.top-img{
    background: url('../imgs/icon33.png') no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-size: 80px;
}
.left-img{
   width:40px;
   height: 40px;
   background-position:0 0;
}
.right-img{
    width:40px;
    height: 40px;
    background-position:-40px 0;
}
.product-name{
    background-color: #fff;
}
.popup-box{
    width: 375px;
    height: 200px;
    background-color: #fff;
}
.btns{
    position: absolute;
    bottom: 0;
}
.btn-up2{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}
.img-box-icon{
    position: absolute;
    top:-40px;
    width: 100%;
    display: block;
    height: auto;
    padding: 20px 10px;
}
.img-box-icon img{
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    display: inline-block;
}
.goods-info{
    display: inline-block;
    vertical-align: bottom;
    padding: 0 20px;
}
.goods-list{
    padding: 10px;
}
.goods-list p{
    font-weight: 100;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
}
.spanbox{
    display: inline-block;
    width: 100%;
}
.goods-list span{
    background-color: #f2f2f2;
    padding: 5px 10px;
    margin-bottom: 6px;
    margin-right: 6px;
    display: inline-block;
    font-size: 12px;
    border-radius:4px;
    color: #000;
}
.goods-list .active{
    background-color: #f35c4c;
    padding: 5px 10px;
    display: inline-block;
    font-size: 12px;
    border-radius:4px;
    color: #fff;
}
.zindex99{
    z-index: 99;
}
.aui-popup-content2 {
    background-color: #ffffff;
    min-height: 9rem;
    height: 22rem;
    z-index: 999;
}
.aui-popup1 {
    padding: 0;
    margin: 0;
    position: fixed;
    height: auto;
    width: 100%;
    min-width: 7rem;
    min-height: 9rem;
    z-index: 1000;
    bottom: 0;
}
.mask{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
}
.aui-icon-no{
    background: url('../imgs/icon_no.png') no-repeat;
    width: 50px;
    height: 50px;
}
.aui-toast .aui-icon-no{
    margin:10px 50px !important;
}
/*物流详情*/
.goods-img0{
    width: 60px;
    height: 60px;
    border: 1px solid #e9e9e9;
    margin:10px 0;
}
.tip-bar{
    position: absolute;
    width: 60px;
    height: 15px;
    background:rgba(0,0,0,0.8);
    color: #fff;
    font-size: 12px;
    top:55px;
    line-height: 15px;
    text-align: center;
    overflow: hidden;
    letter-spacing:-1px;
}
.info-left{
    font-size:12px;
    color: #6d6d6d;
    padding: 10px 20px;
}
.info-list{
    height: 20px;
}
.info-list label{
    width: 55px;
    display: inline-block;
}
.icon-o{
    width: 16px;
    height: 72px;
    background: url(../imgs/icon1.png) no-repeat;
    display: inline-block;
}
.icon-new{
    background-position: 0 0;
}
.icon-normal{
    background-position: 0 -72px;
}

.icon-box{
    width: 30px;
    height: 72px;
  /*  margin: 10px 0;*/
    float: left;
}
.info-box{
    display: inline-block;
    width: 86%;
    height: 40px;
    margin: 10px 0;
    line-height: 22px;

}
/*我的收获地址*/
.time-o{
    font-size: 12px;
    color: #9e9e9e;
}
.l-list-o{
    line-height: 18px;
    font-size: 13px;
}
.list-height{
    padding: 1px 0 5px 0.75rem !important;
    height: 72px;
    background-position:2rem bottom !important;
}
.list-height:last-child{
    background-position:0 bottom !important;
}
.checkdiv-b{
    margin-right: 10px;
}
.icon-edit{
    width:20px;
    height:20px;
    background-position: -76px -64px;
    vertical-align:top;
}
.icon-del{
    width:18px;
    height:20px;
    background-position: -58px -64px;
    vertical-align:top;
}
.aui-card-list-footer{
    font-size: 13px;
}
.aui-list .title-text{
    width: 25%;
    display: inline-block;
}
.aui-list .aui-list-item-inner2{
    padding: 5px 15px;
}
.input-text{
    width:70% !important;
    height: 36px !important;
    display: inline-block !important;
    font-size: 14px !important;
}
#address-last{
    font-size: 14px;
}
#city{
    text-align: right;
}
.product-imgs{
    width: 4rem;
    padding: 0.5rem 0;
    float: left;
}
.product-imgs img{
    vertical-align: top;
}
.product-names{
    font-size: 0.7rem;
    color:#757575;
    float: left;
    width: 75%;
    padding: 0.5rem 0 0.5rem 0.5rem;
}
/*商品列表*/
.icon-sort{
    width: 18px;
    height: 18px;
    background-position: -50px -48px;
}
.sidebar{
    margin:0;
    background-color:#fff;
    min-height: 80px;
    width: 200px;
    position: fixed;
    z-index: 2000;
    top:44px;
    right:0;
}
.bgdiv{
    opacity: 0.3;
    position: fixed;
    top:0;
    right: -200px;
    left:-200px;
    bottom: -200px;
    z-index: 1999;
    display: block;
    background-color:rgb(0,0,0);
    margin-top: 44px;
}
.sidebar .navContent li{
    padding: 10px 15px;
    border-bottom: 1px solid #f1f1f1;
}
.sidebar .navContent a{
    color: #6d6d6d;
    font-size: 14px;
}
.b-box img{
    display: inline-block;
}
.b-box {
    padding: 20px 30px;
    border-bottom: 1px solid #e9e9e9;
}
.b-box span{
    font-size: 18px;
}
.btn-box{
    text-align: center;
    padding: 15px;
}
/*确认收货*/
.shop-name{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.shop-price{
    line-height: 30px;
}

.icon-Praise{
    width: 30px;
    height: 30px;
    background-position: 0 -190px;
}
.icon-inPraise{
    width: 30px;
    height: 30px;
    background-position: -30px -190px;
}
.icon-BadPraise{
    width: 30px;
    height: 30px;
    background-position: -60px -190px;
}
.evaluateBox .active .icon-Praise{
    background-position:0 -220px;
}
.evaluateBox .active .icon-inPraise{
    background-position:-30px -220px;
}
.evaluateBox .active .icon-BadPraise{
    background-position:-60px -220px;
}
textarea[name='myevaluates']{
    font-size: 14px;
}
.pass-tip{
    font-size: 13px;
    color: #9e9e9e;
    padding: 10px 15px;
}
.resigter,.forgetpassword{
    font-size: 14px;
}
.moneybox{
    width: 280px;
    min-height: 160px;
    background-color:#fff;
    z-index: 2000;
    position: fixed;
    left:50%;
    top:50%;
    margin-left: -130px;
    margin-top: -100px;
    border-radius: 5px;
}

.money-header {
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #e9e9e9;
}
/*密码输入框*/
.pwd-box{
    width:240px;
    padding-left: 1px;
    position: relative;
    border: 1px solid #9f9fa0;
    border-radius: 3px;
    margin:30px 20px;
    height: 40px;
}
.pwd-box input[type="number"]{
    width: 240px;
    height: 38px;
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    font-size: 14px;
    opacity: 0;
    z-index: 1;
    letter-spacing: 35px;
}
.fake-box input{
    width: 35px;
    height: 38px;
    border: none;
    border-right: 1px solid #e5e5e5;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    margin: 0;
}
.fake-box input:nth-last-child(1){
    border:none;
}
.money-middle{
    text-align: center;
    margin-top: 20px;
}
.money-middle span{
    font-size: 14px;
}
.money-middle div{
    font-size: 20px;
}
.cardlist p{
    line-height: 22px;
}
.cardlist {
    padding: 15px;
    position: relative;
}
.position-ab{
    position:absolute;
    top:10px;
    right: 10px;
}
.card-money{
    font-size: 23px;
}
.card-name{
    color: #000;
}
.overdue p{
    color: #9e9e9e !important;
}
.iconfont2{
    background:url('../imgs/labelss.png') no-repeat;
    display: inline-block;
    overflow:hidden;
    vertical-align:middle;
}
.icon-alreadyuse{
    width: 100px;
    height: 100px;
    background-position:-100px 0;
}

.icon-overdue{
    width: 100px;
    height: 100px;
    background-position:0 0;
}
/*加载中*/
.pullup{
    text-align: center;
}
.loadingImg{
    margin: 0 auto;
}
/*支付*/
.payment{
    position: fixed;
    bottom: 0;
    top:auto;
    width: 100%;
    height: 350px;
    background-color:#fff;
    z-index: 1000;
}
/*服务详情补*/
.choose-name{
   width: 170px;
   display: inline-block;
   overflow: hidden;
   height:22px;
}
.chooselable{
    display: inline-block;
    overflow: hidden;
    height:22px;
}
.shopcartNo{
    width: 100%;
}
.shopcartNo img{
    width:30%;
    display: block;
    margin: 100px auto;
}
.detailImgs {
    width: 100%;
}
